/** ZOLANI'S STYLE EDITS **/

body {
	background-image: url(../img/txt1.jpg);
	background-size: 25% 25%;
	background-repeat: repeat;
}

h2 {
	font-family: 'Vesper Libre', 'Palatino Linotype', serif;
	text-transform: capitalize;
	font-weight: 900;
	font-size: 26pt;
}
h3 {
	margin-bottom: 15px;
}


p {
	margin: 0 0 25px;
	font-size: 18px;
	line-height: 1.5;
	text-align: left;
	font-family: 'Noto Sans', sans-serif;
	font-weight: normal;
}



p em {
	font-family: Lora, serif;
	font-size: 14pt;
	font-weight: normal;

}

a {
    color: #8092eb;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

a:focus,
a:hover {
    text-decoration: none;
    color: #55619d
}




.intro-text{
	text-align: center;
}

.intro {
	color: #801515;
	background-image: url(../img/img_banner.jpg);
}

.navbar-custom a {
	color: #801515;
}


#schedule img {
	width: 80%;
	height: 0%;
	margin-bottom: 64px;

}

#location iframe {
	float: left;
	margin-bottom: 60px;
	border: medium solid #000000;

}
#location p {
	text-align: center;

}
#saferspace   {
	background-image: url(../img/txt5.jpg);
	background-size: 33% auto;
}
